{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron indeed-jumbotron">
    <h2>Job Search</h2>

    <a href="{% url 'indeed:search' %}">
      <button type="button" class="btn btn-primary">Search for listings</button>
    </a>

    <a href="{% url 'indeed:results' %}">
      <button type="button" class="btn btn-success">View listings</button>
    </a>
  </div>

  <h2>Previous searches</h2>

  <table class="table table-striped">
    <tr>
      <th>Must have</th>
      <th>Contains at least one</th>
      <th>Can't contain</th>
      <th>City</th>
      <th>State</th>
      <th>Refresh results</th>
      <th>Age</th>
    </tr>
    {% for search in searches %}
      <tr>
        <td>{{ search.search_must_contain }}</td>
        <td>{{ search.search_at_least_one }}</td>
        <td>{{ search.search_cant_contain }}</td>
        <td>{{ search.city|capfirst }}</td>
        <td>{{ search.state|upper }}</td>
        <td><a href="{% url 'indeed_api:results' %}">Results</a></td>
        <td>{{ search.url_updated|timesince }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock content %}
